<?xml version="1.0" encoding="utf-8" ?>
<config>
    <!-- Default: 8102 -->
    <!--<port>8102</port>-->

    <recognizers>
        <!-- Default: me -->
        <!--<enabled>me,ge,ze</enabled>-->

        <!--
        <google>
            <credential_path></credential_path>
        </google>

        <azure>            
            <primarykey></primarykey>
        </azure>
        -->
    </recognizers>

    <!-- Default: ./classifiers/ -->
    <!--<classifiers_path>./classifiers/</classifiers_path>-->

    <!-- ATENÇÃO: A configuração de log deve ser realizada diretamente no arquivo Log.config -->

    <tuning>
        <!-- Default: false -->
        <!-- <enabled>false</enabled> -->

        <!-- Default: ./tuning/ -->
        <!-- <path>./tuning/</path> -->
    </tuning>
</config>