<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle" version="1.7.0" targetFramework="net452" />
  <package id="Google.Api.CommonProtos" version="1.0.0-beta04" targetFramework="net452" />
  <package id="Google.Api.Gax" version="1.0.0-beta02-CI00094" targetFramework="net452" />
  <package id="Google.Apis" version="1.16.0" targetFramework="net452" />
  <package id="Google.Apis.Auth" version="1.16.0" targetFramework="net452" />
  <package id="Google.Apis.Core" version="1.16.0" targetFramework="net452" />
  <package id="Google.Cloud.Speech.V1Beta1" version="0.2.1" targetFramework="net452" />
  <package id="Google.Longrunning" version="1.0.0-beta01" targetFramework="net452" />
  <package id="Google.Protobuf" version="3.0.0" targetFramework="net452" />
  <package id="Grpc.Auth" version="1.0.1-pre1" targetFramework="net452" />
  <package id="Grpc.Core" version="1.0.1-pre1" targetFramework="net452" />
  <package id="IKVM.OpenJDK.Beans" version="7.2.4630.5" targetFramework="net452" />
  <package id="IKVM.OpenJDK.Charsets" version="7.2.4630.5" targetFramework="net452" />
  <package id="IKVM.OpenJDK.Core" version="7.2.4630.5" targetFramework="net452" />
  <package id="IKVM.OpenJDK.Text" version="7.2.4630.5" targetFramework="net452" />
  <package id="IKVM.OpenJDK.Util" version="7.2.4630.5" targetFramework="net452" />
  <package id="IKVM.OpenJDK.XML.API" version="7.2.4630.5" targetFramework="net452" />
  <package id="IKVM.Runtime" version="7.2.4630.5" targetFramework="net452" />
  <package id="log4net" version="2.0.5" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net452" />
  <package id="System.Interactive.Async" version="3.0.0" targetFramework="net452" />
  <package id="System.Net.Http" version="4.0.0" targetFramework="net452" />
  <package id="System.Threading.Tasks.Dataflow" version="4.6.0" targetFramework="net452" />
  <package id="Zlib.Portable.Signed" version="1.11.0" targetFramework="net452" />
</packages>