<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Common.Logging" version="3.4.1" targetFramework="net471" />
  <package id="Common.Logging.Core" version="3.4.1" targetFramework="net471" />
  <package id="Common.Logging.Log4Net.Universal" version="1.2.0" targetFramework="net471" />
  <package id="log4net" version="2.0.8" targetFramework="net471" />
  <package id="Microsoft.CSharp" version="4.5.0" targetFramework="net471" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net471" />
  <package id="Ninject" version="4.0.0-beta-0134" targetFramework="net471" />
  <package id="SharpRaven" version="2.4.0" targetFramework="net471" />
  <package id="SharpRaven.Log4Net" version="1.5.2" targetFramework="net471" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net471" />
  <package id="Topshelf" version="4.1.0" targetFramework="net471" />
  <package id="Topshelf.Common.Logging" version="4.0.1" targetFramework="net471" />
  <package id="Topshelf.Ninject" version="0.4.0.0" targetFramework="net471" />
</packages>